/* Declare font files here */
@font-face {
    font-family: 'Radiant Charisma Regular';
    src: url('assets/fonts/radiant-charisma/RadiantCharismaDEMO-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cormorant Garamond Italic';
    src: url('assets/fonts/cormorant-garamond/CormorantGaramond-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cerebri Sans Pro Regular';
    src: url('assets/fonts/cerebri-sans-pro/CerebriSansPro-Regular.otf') format('opentype');
}

:root {
    --gold: #D4AF37;
}

body {
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
    background-color: #FDFBF7;
    color: #111827;
}

/* Define font classes here */
.font-section-heading {
    font-family: 'Radiant Charisma Regular', serif;
    font-weight: 500;
}

.font-section-subheading {
    font-family: 'Cormorant Garamond Italic', serif;
    font-weight: 600;
}

.font-section-content {
    font-family: 'Cerebri Sans Pro Regular', sans-serif;
    font-weight: normal;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #1a1a1a; border-radius: 3px; }

/* Modal Styles */
.modal {
    opacity: 0; visibility: hidden; transition: all 0.5s ease;
}
.modal.active {
    opacity: 1; visibility: visible;
}